.wiggler {
  height: 50vw;
  width: 50vw;
  overflow: hidden;
  position: relative;
}

.wiggler img {
  width: 200%;
  position: absolute;
  transform-origin: center;
  max-width: initial;
}


@keyframes rightEye {
  50% {
    opacity: 0;
  }
}

.wiggler img.left {
}

.wiggler img.right {
  animation: rightEye 0.3s infinite;
}
